{% extends 'base.html' %}

{% block css %}

    button:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 5px black;
    }

{% endblock %}

{% block body %}

<ul class="nav navbar-nav ml-auto">
        <li class="nav-item mr-3 pt-1">
            <form action="{% url 'web:my_profile' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg">
                    <span class="fas fa-sign-out-alt"></span> profile
            </button>
            </form>
        </li>

        <li class="nav-item mr-3 pt-1">
            <form action="{% url 'web:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg">
                <span class="fas fa-sign-out-alt"></span> Logout
            </button>
            </form>
        </li>
</ul>

{% endblock %}

{% block div %}

<br><br><br><br> <br>
<div class = " jumbotron container bg-light" align="center" style="width:500px">
<h2 class="bg-info p-1">Your Wishlist</h2> <br>
<ul>
    {% for product in buyer.wishlist.all %}
    <div style="border: 2px solid grey; border-radius: 5px;background-color: azure; height:150px" align="center">
        <h4>{{product.name}}</h4>
        {% if product.image %}
        <img src="{{product.image.url}}"  height="200" width="200">
        {% endif %}
        <h6>Product category: {{product.category}}</h6>
        <h6>Product price: {{product.price}}</h6>
        <form action = "{% url 'web:remove-wishlist' pk=product.pk %}" method = 'POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn-lg">
                <span class="fas fa-minus"></span> Remove from wishlist
            </button>
        </form>
    </div>
    <br>
    {% endfor %}
</ul>

{% endblock %}